* {
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #1a1a1a;
    color: #e8e6e3;
}

/* Header */ 
header {
    background-color: #221f1f;

    display: flex;
    align-items: center;
    height: 30px;
    border-radius: 15px;
}

.titleHeader {
    flex: 1;
    margin-left: 15px;
}

.navHeader {
    flex: 2;
    margin-right: 15px;
}

.navHeader ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 30px);
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}